.root {
    -fx-font-size: 10pt;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.label {
    -fx-font-size: 10pt;
    -fx-text-fill: #B888FF;

}
.main-label {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.header-label {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.inner-label {
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
    -fx-text-fill: #B888FF;
}

.tab {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-border-color: #a66cfa;
    -fx-text-base-color: white;
    -fx-background-color: #B888FF;
}
.tab:hover {
    -fx-background-color: #9a6be0;
}
.tab:selected {
    -fx-background-color: #865bc7;
}
.table-view .column-header {
    -fx-background-color: white;
    -fx-border-color: #a66cfa;
}

.text-field {
    -fx-font-size: 10pt;
    -fx-text-base-color: #B888FF;
    -fx-background-color: #ffffff;
    -fx-border-color: #a66cfa;
}
.text-area {
    -fx-font-size: 10pt;
    -fx-text-base-color: #B888FF;
    -fx-background-color: #ffffff;
    -fx-border-color: #a66cfa;
}
.combo-box-base {
    -fx-font-size: 10pt;
    -fx-text-base-color: #B888FF;
    -fx-background-color: #ffffff;
    -fx-border-color: #a66cfa;
}
.list-view {
    -fx-font-size: 10pt;
    -fx-text-base-color: #B888FF;
    -fx-background-color: #ffffff;
    -fx-border-color: #a66cfa;
}
.button {
    -fx-font-size: 10pt;
    -fx-text-base-color: #B888FF;
    -fx-background-color: #ffffff;
    -fx-border-color: #a66cfa;
}
.button:hover {
    -fx-background-color: #e5e5e5;
}
.button:pressed {
    -fx-background-color: #cbcbcb;
}

.general-button {
    -fx-padding: 2px;
    -fx-background-color: transparent;
    -fx-border-color: white;
}
.general-button:hover {
    -fx-background-color: rgb(0, 0, 0, 0.2);
}
.general-button:pressed {
    -fx-background-color: rgb(0, 0, 0, 0.4);
}

.close-button {
    -fx-padding: 2px;
    -fx-border-color: red;
    -fx-background-color: red;
}
.close-button:hover {
    -fx-border-color: #c50000;
    -fx-background-color: #c50000;
}
.close-button:pressed {
    -fx-border-color: #9a0000;
    -fx-background-color: #9a0000;
}